<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="${ets-code}-${version}" verbose="0" configfailurepolicy="skip">
  <parameter name="iut"  value=""/>
  <parameter name="ics"  value=""/>

  <listeners>
    <listener class-name="org.opengis.cite.geopackage10.TestRunListener" />
    <listener class-name="org.opengis.cite.geopackage10.SuiteFixtureListener" />
  </listeners>

  <test name="Base">
    <packages>
      <package name="org.opengis.cite.geopackage10.base" />
    </packages>
  </test>
  <test name="Options">
    <packages>
      <package name="org.opengis.cite.geopackage10.options" />
    </packages>
  </test>
  <test name="Extensions">
    <packages>
      <package name="org.opengis.cite.geopackage10.extensions" />
    </packages>
  </test>
</suite>
